/* :root { */
/*   background-color: #BBBBBB; */
/*   color: rgba(255, 255, 255, 0.87); */
/*   color-scheme: light dark; */
/*   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
/*   font-synthesis: none; */
/*   font-weight: 400; */
/*   line-height: 1.5; */
/*   text-rendering: optimizeLegibility; */

/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/*   -webkit-text-size-adjust: 100%; */
/* } */

/* @media (prefers-color-scheme: light) { */
/*   :root { */
/*     background-color: #f8f8f8; */
/*     color: #181818; */
/*   } */
/* } */

.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.window {
  max-width: 600px;
  width: 100%;
}

.window-body {
  padding: 20px;
}

.connect-buttons,
.switch-chain {
  margin-bottom: 20px;
}

.account-details{
  margin: 10px 0;
}

.whitelist-spots {
  margin-top: 10px;
}

.fieldset-title {
  margin-bottom: 10px;
}

.fieldset-row {
  margin-bottom: 5px;
}

#connect-prompt {
  margin: 10px 0;
  font-size: 1.5em;
}

#connect-subprompt {
  margin: 10px 0;
}


.error-message {
  color: red;
  margin-top: 10px;
}

body {
  background-color: #0078d7;
  background-image: linear-gradient(45deg, #0078d7, #00bcf2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: #fff; */
}

.retro-gif {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.retro-gif img {
  max-width: 100%;
  height: auto;
}
