.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.window-body {
  padding: 20px;
}

.connect-buttons,
.switch-chain {
  margin-bottom: 20px;
}

.switch-chain-button {
  margin-right: 10px;
}

.account-details{
  margin: 10px 0;
}

.whitelist-spots {
  margin-top: 10px;
}

.fieldset-title {
  margin-bottom: 10px;
}

.fieldset-row {
  margin-bottom: 5px;
}

#connect-prompt {
  margin: 10px 0;
  font-size: 1.5em;
}

#connect-subprompt {
  margin: 10px 0;
}


.error-message {
  color: red;
  margin-top: 10px;
}

body {
  background-color: #0078d7;
  background-image: linear-gradient(45deg, #0078d7, #00bcf2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: #fff; */
}

.retro-gif {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.retro-gif img {
  max-width: 100%;
  height: auto;
}

.modbutton {
  min-width: 0px;
}

.socialLink {
  margin: 0 5px;
}

.window.maximized {
  width: 100%;
  height: 100%;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.window {
  width: 90%;
  height: 90%;
}

.window-dialog {
  width: 90%;
  height: 20%;
}

.nopad {
  padding: 0;
  height: 95%;
}

menu[role=tablist] button[aria-selected=true] {
    background: #fff;
    border-bottom: 0;
    box-shadow: none;
    margin: -2px 0 1px -3px;
    padding-bottom: 4px;
    position: relative;
    z-index: 2;
}

.buyButtons {
  margin: 10px 10px;
}

.stakingradio {
  margin: 10px 0;
}

.stakingradio label {
  margin-right: 10px;
}

.tradingGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.nftGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  height: 500px;
  overflow: auto;
}

.centerText {
  text-align: center;
}

.trade-button {
  padding: 10px;
  border: 1px solid #0078d7;
  background-color: #FFF;
}

button {
  margin-right: 10px;
}

blockquote {
  margin: 0;
  padding: 10px 10px 10px 0;
  background-color: #dfdfdf;
}

blockquote ul {
  padding-left: 30px;
}

li {
  margin-top: 5px;
  margin-bottom: 15px;
}

.remy-price-bubble {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation:
    marquee 15s linear infinite,
    rainbow-text 5s linear infinite;
}

.announcement {
  animation: rainbow-text 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rainbow-text {
  0% { color: red; }
  14% { color: orange; }
  28% { color: black; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.unstake-buttons {
  margin-top: 10px;
}

.nft-unstake {
}

.divider {
  margin: 10px 0;
  border-top: 1px solid #AAA;
}

.red-text {
  color: red;
}

.bold {
  font-weight: bold;
}

.mr-1 {
  margin-right: 0.2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.stake-all-button {
  margin-bottom: 10px;
}

.clear-button {
  margin-left: .6rem;
  margin-bottom: 1rem;
}
